---
layout: default
title: Cars
permalink: /Cars/
image: acura-nsx.jpg
---

<div class="cars-content">

  <div class="cars-navigation">
      <form class="search-nav" action="index.html" method="post">

        <div class="form-first-section">

          <span class="search-icon"></span>

          <label class="search-by-name-label" for="search-by-name">Search by Keyword: </label>
          <input type"text" id="search-by-name" name="search_by_name">
        </div>

        <div>
          <label for="brand-options">Select a Brand:</label>
          <select id="brand-options">
            <option value="brand_ferrari">Ferrari</option>
            <option value="brand_mclaren">McLaren</option>
            <option value="brand_porsche">Porsche</option>
            <option value="brand_mercedes">Mercedes Benz</option>
            <option value="brand_land_rover">Land Rover</option>
            <option value="brand_jaguar">Jaguar</option>
            <option value="brand_bmw">BMW</option>
            <option value="brand_ford">Ford</option>
          </select>
        </div>

        <div>
          <label for="model-options">Select a Model:</label>
          <select id="model-options">
            <option value="f430">F430</option>
            <option value="458_italia">458 Italia</option>
            <option value="f12">F12</option>
            <option value="california">California</option>
            <option value="la_ferrari">La Ferrari</option>
            <option value="enzo">Enzo Ferrari</option>
            <option value="enzo_fxx">Enzo FXX</option>
          </select>

          <button type="submit" id="nav-submit-button">Search</button>
        </div>
      </form>
    <div class="cars-nav-elements">
      {% for my_page in site.pages %}
        {% if my_page.cars-page %}
            <a class="cars-nav-items nav-item-{{my_page.cars-page | downcase }}" href="{{ my_page.url | prepend: site.baseurl }}">
              <div class="cars-nav-bg" style="background-image: url(../assets/img/cars-page/{{my_page.nav-image}})">
              </div>
              <div class="nav-label">
                <span>{{ my_page.cars-page | upcase}}</span>
              </div>
            </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
