
<header>

  <div class="header-wrapp">

    <div class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav>
      <div class="navigation-bar">
        <!-- This is the loop for addign all the pages to the nav -->
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <div class="navigation-items {{ my_page.url | split: "/" }}">
            <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | upcase}}</a>
          </div>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>


  {% if page.url == "/"%}
    {% include slide_bar.html %}
  {% endif %}

</header>
